.container-fluid.center-block
	.jumbotron
		div.brand
			img(src='../../../resources/icon.ico')
			h1 Sertle
		p Applicazione desktop per gestire clienti e fatture.
		p Il software è opensource e rilasciato con licenza MIT, disponibile su 
			a.open-external(href='https://github.com/SergioDonati/sertle') GitHub

	p &copy; 2016 Donati Sergio
