@import "colors";

#info{
	float: left;
	width: 400px;
	.component {
	    border-bottom: 1px solid black;
	    border-right: 1px solid black;
	    overflow: hidden;
	    padding: 15px 5px;
	    margin-top: 10px;
		background-color: @backgroundColorUp;
		h2{
			margin-top: 0;
		}
	}
}

#items{
	float: right;
	margin-right: 20px;
}
