h1 Nuova Fattura

#compile
	#info
		#general(dynamicload-component=true, component="generalInfo", component-id="general-info")
		#nominee(dynamicload-component=true, component="nominee", component-id="nominee")
		#issuer(dynamicload-component=true, component="issuer", component-id="issuer")
	#items(dynamicload-component=true, component="items", component-id="items")
#check(style="display:none;")
