form(bind-event, bind-event-submit='onSubmit')
	.form-group
		input(name='name', type='text', placeholder='name')
	.form-group
		input(name='piva', type='text', placeholder='P.IVA')
	.form-group
		input(name='fiscalcode', type='text', placeholder='Codice Fiscale')
	.form-group
		input(name='city', type='text', placeholder='Siena')
	.form-group
		input(name='street', type='text', placeholder='via Aretina')
	.form-group
		input(name='number', type='text', placeholder='32')
	.form-group
		input(name='postalcode', type='text', placeholder='53100')
	.form-group
		input(name='nation', type='text', placeholder='Italia', value='Italia')
	.form-group
		input(name='phone', type='text', placeholder='0577364631')
	button(type='submit') Crea
