h1 Fatture
	button(bind-event, bind-event-click='newInvoice', class='btn btn-primary')
		span.fa.fa-plus
		| Nuova Fattura

#invoices-list.cards-container(dynamicload-component, component="list")
.paging.container-flex
	button#prev-btn.btn.btn-default.pull-right(bind-event, bind-event-click='prevPage'): span.fa.fa-long-arrow-left
	.item-flex(style="text-align:center;"): h4
		#range.label.label-default -
		.label.label-default Fatture Totali:
			span#total 0
	button#next-btn.btn.btn-default.pull-left(bind-event, bind-event-click='nextPage'): span.fa.fa-long-arrow-right
