form#login-form(bind-event, bind-event-submit='onSubmit')
	.form-group
		input(name='username', type='text', placeholder='username')
	.form-group
		input(name='password', type='password', placeholder='password')
	button(type='submit') Login
