.head
	h4.head-title Cliente
		.btn-group.pull-right
			a(bind-event=true, bind-event-click="newCompany", class="btn btn-xs btn-default")
				span.fa.fa-plus
				|Nuovo
			a(bind-event=true, bind-event-click="searchCompany", class="btn btn-xs btn-default")
				span.fa.fa-search
				|Cerca
#nominee-data.container-fluid
	.row
		.col-xs-2
			label Nome:
		.col-xs-10
			span#nominee-name
	.row
		.col-xs-7
			.row.vertical-align
				.col-xs-4
					label P. IVA:
				.col-xs-8
					span#nominee-piva
			.row.vertical-align
				.col-xs-4
					label.control-label Codice Fiscale:
				.col-xs-8
					span#nominee-fiscalcode
		.col-xs-5
			label Indirizzo:
			p#nominee-address
	.row
		.col-xs-3
			label Telefono:
		.col-xs-9
			span#nominee-phone
