h2 Cliente
a(bind-event=true, bind-event-click="newCompany") Nuovo
a(bind-event=true, bind-event-click="searchCompany") Cerca
#nominee-data
	p Nome:
		span#nominee-name
	p P. IVA:
		span#nominee-piva
	p Codice Fiscale:
		span#nominee-fiscalcode
	p Indirizzo:
		span#nominee-address
	p Telefono:
		span#nominee-phone
