if companies && companies.length>0
	each val, index in companies
		.card.company-card
			.container-flex
				.company-image(style="text-align:center;width:50px;margin-right:5px;")
					a(href="#", title="Apri dettaglio", bind-event, bind-event-click="openCompany", data-company-id=val.$loki)
						span.fa.fa-user.fa-2x
				.item-flex(style="border-left: 1px solid black;padding-left: 10px;")
					.card-title #{val.name}
					.container-flex
						.item-flex
							div: strong Partita IVA:
							span #{val.piva}
						.item-flex
							div: strong Codice Fiscale:
							span(style="text-transform:uppercase;") #{val.fiscalCode}
else
	div
		| Nessun Cliente
