h3.modal-title Nuovo Cliente
form#companyForm(bind-event, bind-event-submit='onSubmit', class="container-fluid form-inline text-left")

	h5 Generali
	.form-group: .input-group
		span.input-group-addon Ragione sociale
		input(name='name', type='text', placeholder='Nome', class="form-control", style="width:320px;", autofocus)
	br
	br
	.form-group
		.input-group
			span.input-group-addon Partita IVA
			input(name='piva', type='text', placeholder='Partita iva', class="form-control", style="width:250px;")
		.input-group
			span.input-group-addon Codice Fiscale
			input(name='fiscalcode', type='text', placeholder='Codice Fiscale', class="form-control", style="width:250px;")
	br
	br
	h5 Indirizzo
	.form-group
		.input-group
			span.input-group-addon Strada
			input(name='street', type='text', placeholder='via Aretina', class="form-control", style="width:300px;")
		.input-group
			span.input-group-addon N. Civico
			input(name='number', type='text', placeholder='32', class="form-control", style="width:70px;")
	br
	br
	.form-group
		.input-group
			span.input-group-addon Città
			input(name='city', type='text', placeholder='Siena', class="form-control")
		.input-group
			span.input-group-addon CAP
			input(name='postalcode', type='text', placeholder='53100', class="form-control", style="width:70px;")
		.input-group
			span.input-group-addon Nazione
			input(name='nation', type='text', placeholder='Italia', value='Italia', class="form-control")
	br
	br
	h5 Telefono
	.form-group: .input-group
		span.input-group-addon Telefono
		input(name='phone', type='text', placeholder='0577364631', class="form-control")

	button(type="submit", class="btn btn-success pull-right") Crea
