include /form
include /variables

.modal-header
	h3.modal-title Nuovo Cliente
.modal-body
	form#companyForm.text-left(bind-event, bind-event-submit='onSubmit')

		h5 Generali
		+form-group('Ragione Sociale', 'text', 'name', 'Nome', '320px', true)
		.container-flex-margin
			.item-flex
				+form-group('Partita IVA', 'text', 'piva', 'Partita IVA')
			.item-flex
				+form-group('Codice Fiscale', 'text', 'fiscalcode', 'Codice Fiscale')
		h5 Indirizzo
		.container-flex
			.flex-col: +form-group('Strada', 'text', 'street', 'via Aretina', '300px')
			.flex-col: +form-group('N. Civico', 'text', 'number', '32', '70px')
		.container-flex
			.flex-col: +form-group('Città', 'text', 'city', 'Siena', '250px')
			.flex-col: +form-group('CAP', 'text', 'postalcode', '53100')
			.flex-col: +select-form('Nazione', 'nation', globalVars.nations)
		h5 Telefono
		+form-group('Telefono', 'text', 'phone', '0577364631', '250px')
		.clearfix
			button.btn.btn-success.pull-right(type="submit") Crea
