@import "colors";
@import "font";
@import "cards";
@import "margins";
@import "fbox";
@import "modals";

html, body{
	height: 100%;
	background-color: @backgroundColor;
	padding: 0;
	overflow: hidden;
}
body{
	background-color: @backgroundColor;
	font-size: @fontSize;
	font-family: @fontFamily;
	min-width: 900px;
}

.btn > .fa{
	margin-right: 5px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:invalid {
	border-color: rgba(255,0,0,.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,0,0,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,0,0,.6);
}
input:valid {
    /*border: 1px solid green;*/
}

#app{
	display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
	#app-container{
		width:100%;
		overflow: hidden;
		flex: 1;
		overflow-y: auto;
		display: flex;
		flex-direction: row;
		> .container-fluid{
			flex: 1;
		}
		.page-wrapper{
			padding-bottom: 40px;
			width: 100%;
			> h1, > h2, > h3, > h4, >h5, >h6{
				margin-top: 0;
			}
		}
	}
}
