.fbox{
	display:flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;

	&.fbox-center{
		align-items:center;
		justify-content: center;
	}

	&.fbox-vertical{
		flex-direction: column;
		> [class^="col-"],
		> [class*=" col-"] {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
	&.fbox-j-sb{
		justify-content: space-between;
	}
	&.fbox-j-sa{
		justify-content: space-around;
	}
	&.fbox-a-s{
		align-items: flex-start;
	}
	&.fbox-no-wrap{
		flex-wrap: nowrap;
	}

	> .fbox-item{
		flex:1;
	}

	&.fbox-margin{
		> .fbox-item{
			margin-right: 5px;
			margin-left: 5px;
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}
