@import "colors";
@import "font";
@import "modal";

html, body{
	height: 100%;
	background-color: @backgroundColor;
}
body{
	background-color: @backgroundColor;
	font-size: @fontSize;
	font-family: @fontFamily;
	padding: 0px 20px;
}

form{
	text-align: center;
}
label{
	text-align: left;
	font-weight: 600;
}
