.container-fluid
	.form-group(style="width:140px;display:inline-block;")
		.input-group
			span.input-group-addon Numero
			input#progressiveNumber(type="number", min="1", value='1', class="form-control", style="width:60px;")
	.form-group(style="width:160px;display:inline-block;")
		.input-group
			span.input-group-addon Data
			input#invoiceDate(type="date", class="form-control")

	.form-group: .input-group
		span.input-group-addon Metodo di pagamento
		select(class="form-control")
			option(value='0') Rimessa Diretta
			option(value='1') Bonifico
