.container-fluid
	.row
		.col-xs-8: .input-group
			label Numero
			input#progressiveNumber(type="text", value='1')
		.col-xs-4: .input-group
			label Data
			input#invoiceDate(type="text")

	.row: .col-xs-12: .input-group
		label Metodo
		select
			option(value='0') Rimessa Diretta
			option(value='1') Bonifico
